.Contenedorprincipal {
    margin-top: 96px;
    width: 94%;
    height: 520px;
    padding: 9px;
    border-radius: 25px;
    background-color: aqua;
    ;
}

body{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Contenedorprincipalhijo {
    margin-top: 2px;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(219, 245, 255);
    height: 500px;
}

.col {
    margin: 10px;
}

.form-control-sm {
    width: 45%;
}

.botonregistrar {
    position: absolute;
     bottom:165px;
     right: 110px;
}
.botoncancelar{
    position: absolute;
    bottom:165px;
    right: 220px;
}

a{
    text-align: center;
}